* {
    font-family:'Jost'
}

.logo {
    max-width: 80%; 
    height: auto;    
    margin-bottom: -10px
}

.container-homepage{
    width: 90%;
    max-width: 90vh;
    z-index: -1;
    height: auto;
    min-height: 25vh;
    background-color: white;
    border-radius: 45px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    filter: opacity(0.7);
    
}

.container-botoes{
    display: flex;
    flex-direction: row; 
    gap: 10px;           
    justify-content: center; 
    align-items: center; 
    width: 100%;         
}